@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative; */
}

/* Section1 Starts Here */

.section1 {
  background-image: url("/image/BGNetflix.jpeg");
  height: auto;
}

.Navbar {
  width: 63rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.sign_up {
  background-color: red;
  height: 2rem;
  width: 60px;
  border-radius: 4px;
  color: #ffffff;
}

.Texts {
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33rem;
  text-align: center;
  margin-left: 4rem;
}

.Texts-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.TextH1 {
  color: #ffffff;
  width: 2rem;
  margin-left: 1rem;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.H1 {
  font-size: 2.5rem;
  width: 24rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TextH1_P {
  width: 24rem;
  font-size: 13px;
}

.TextH1_P1 {
  margin-top: 2rem;
  width: 26rem;
  font-size: 13px;
}

.Forms {
  margin-top: 2rem;
  padding: 4px;
  display: flex;
  width: 39rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 25rem;
}

.E_mail {
  height: 3rem;
  width: 19rem;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 3px;
  background-color: #545252;
  padding: 5px;
  color: #ffffff;
}

.Getstarted {
  height: 3rem;
  width: 9rem;
  background-color: red;
  border-radius: 3px;
  color: #ffffff;
}

.Getstarted:hover {
  cursor: pointer;
  background-color: rgb(191, 4, 4);
}

/* GS-Sec starts Here */

.GS_section1 {
  height: auto;
}

.image {
  display: flex;
  justify-content: center;
  height: 9rem;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.texth1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 26rem;
  font-size: 38px;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}

.textP {
  width: 23rem;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}

.TextP {
  width: 23rem;
  font-size: 15px;
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.Sendlink {
  height: 3rem;
  width: 22rem;
  background-color: red;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 1rem;
}


/* GS-Sec ends Here */

/* footer-sec-1 start here */

.Footer {
  height: 12rem;
  background-color: #d2d2d2;
}

.F1 {
  height: 12rem;
  /* width: 55rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.F-P {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  font-size: 14px;
  /* color: #b1b0b0;
  text-decoration: underline;
  cursor: pointer; */
}



/* footer-sec-1 end here */


/* Section1 End Here */


/* Section2 Start Here */

.blank-space {
  background-color: red;
  height: 2px;
}

.Div2 {
  height: 22rem;
  background-color: black;
  color: #ffffff;
  padding: 1rem;
}

.Div2-H1 {
  width: 10rem;
  font-size: 21px;
  margin-top: 1rem;
}

.images {
  /* border: 2px solid red; */
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.BGIS {
  border: 2px solid rgb(167, 167, 167);
  background-color: #000000;
  position: relative;
  bottom: 32rem;
  left: 18rem;
  color: #ffffff;
  width: 30rem;
  height: 36rem;
  /* background-image: url("/images/Lisabi.jpg"); */
  z-index: 2;
  background-repeat: no-repeat;
  background-size:contain;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

 
.BGI {
  /* border: 2px solid red; */
  height: 29rem;
  width: 27rem;
  margin-top: 6rem;
}
 

.ggg { 
  /* border: 2px solid rgb(94, 255, 0); */
  height: .1px;
 } 
.IOX {
   margin-top: 44rem;
   text-align: right;
}

.lisabipopup {
  justify-content: space-around;
  width: 22rem;
  display: flex;
  text-align: center;
}

.lisabi-signupp {
  height: 27px;
  border: 1px solid #545252;
  background-color: #545252;
  color: #ffffff;
  border-radius: 2px;
}
.lisabi-signupP {
  height: 27px;
  border: 1px solid #545252;
  background-color: #545252;
  color: #ffffff;
  border-radius: 2px;
  width: 5rem;
}

.lisabip {
  width: 30rem;
}


.hitmanpopup {
  justify-content: space-around;
  width: 22rem;
  display: flex;
  text-align: center;
}

.hitman-signupp {
  height: 27px;
  border: 1px solid #545252;
  background-color: #545252;
  color: #ffffff;
  border-radius: 2px;
  border: 2px solid blue;
}
.hitman-signupP {
  height: 27px;
  border: 1px solid #545252;
  background-color: #545252;
  color: #ffffff;
  border-radius: 2px;
  width: 5rem;
}

.hitman {
  border: 2px solid red;
  width: 35rem;
}

/* Section2 End Here */


/* Section3 Start Here */

.Blocks {
  background-color: black;
  padding: 1rem;
  color: #ffffff;
  height: auto;
}

.Blocksh1 {
  width: 12rem;
  font-size: 1.2rem;
}

.Enjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.HBh1 {
  font-size: 1.3rem;
}

.section3-sub1 {
  width: 65rem;
  display: flex;
  justify-content: space-around;
  height: 11rem;
  margin-top: 1rem;
}

.section3-button {
  border:  2px solid rgb(34, 0, 255);
  width: 30rem;
  height: 10rem;
  border-radius: 6px;
  padding: 2px;
  /* background-color: aquamarine; */
  background-color: rgb(58, 2, 130);
}

/* Section3 End Here */


/* Footer Start Here */

.footer {
  height: auto;
  background-color: #000000;
  color: #ffffff;
  /* border: 2px solid rgb(0, 68, 255); */
  padding: 1rem;
}

.footerh1 {
  font-size: 22px;
}

.navigator {
  width: 63rem;
  height: 40rem;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
}

.netflixfooter {
  margin-top: 9rem;
}

.labelp {
  margin-bottom: 1rem;
  width: 55rem;
  height: 4rem;
  background-color: rgb(45, 44, 44);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  font-size: 1.3rem;
}

.checker {
  background-color: rgb(81, 80, 80);
  margin-top: .8rem;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: none;
  width: 55rem;
}

.checkitem {
  padding: .5rem;
}

.frequently-asNk-question {
  font-size: 1.6rem;
}

/* Footer End Here */

.Form {
  /* border: 2px solid rgb(255, 0, 0); */
  background-color: black;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  
}

.forms {
  margin-top: 2rem;
  padding: 4px;
  display: flex;
  width: 39rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-left: 12rem;
}

.E_mail {
  height: 3rem;
  width: 26rem;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 3px;
  background-color: #2d2d2d;
  padding: 5px;
  color: #ffffff;
}

.FormP {
  color: #ffffff;
  margin-left: 15rem;
  margin-top: 3rem;
}


/* Footer3 Starts Here */


.Footer3 {
  height: 33rem;
  color: #b1b0b0;
  background-color: #000000;
}

.F3 {
  height: 22rem;
  width: 55rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align:left;
}

.Fp {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.contact-us {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  font-size: 17px;
  color: #b1b0b0;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 1rem;
}

.helpCenter {
  margin-top: 4rem;
  text-decoration: underline;
  cursor: pointer;
}

.button {
  height: 11rem;
}

.btn {
  display: none;
}

.btn:checked+label>.material-symbols--keyboard-arrow-down {
  transform: rotate(180deg);
  color: red;
}

.btn:checked~.checker {
  display: block;
}

.checker {
  background-color: rgb(70, 68, 68);
  margin-top: .8rem;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: none;
  width: 8rem;
  margin-left: 5rem;
}

.checkitem {
  padding: .3rem;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}

.checkitem:hover {
  cursor: pointer;
}

.En {
  border: 2px solid rgb(113, 111, 111);
  padding: .3rem;
  border-radius: 5px;
  width: 8rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5rem;
}

.shape {
  margin-bottom: 1px;
  margin-left: 1rem;
  color: #ffffff;
}

.NG {
  margin-top: 5rem;
  margin-left: 5rem;
}

/* Footer3 Ends Here */




@media only screen and (max-width: 769px) {
 
  .Navbar {
    width: 47rem;
  }

  .Input {
    width: 21rem;
  }

  .E_mail {
    width: 20rem;
  }
  

  .Forms {
    margin-right: 22rem;
  }

  .TextH1 {
    margin-right: 22rem;
  }

  .Texts-sub {
    width: 47rem;
    margin-right: 3rem;
  }

}

@media only screen and (max-width: 769px) {
 
  .Navbar {
    width: 47rem;
  }

  .Input {
    width: 21rem;
  }

  .E_mail {
    width: 20rem;
  }
  

  .Forms {
    margin-right: 22rem;
  }

  .TextH1 {
    margin-right: 22rem;
  }

  .Texts-sub {
    width: 47rem;
    margin-right: 3rem;
  }


  .section3-sub1 {
    width: 48rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

    .section3-button {
      width: 90%;
    }




}